/*General*/
*, *::before, *::after {
    box-sizing: border-box;
    color: $body-color;
}

html {
    font-family: $brand-font;
}

body {
    padding: 15px;
    margin: 0;
    background-color: $body-color;
}

i {
    padding: 5px;
}

/*Layout*/

.grid-layout { 
    display: grid;
    grid-template-areas: 
    "sidebar topbar"
    "sidebar content";
    grid-template-columns: 200px auto;
    grid-template-rows: 60px auto;      
}

.sidebar {
    background-color: $sidebar-color;
    grid-area: sidebar;
    color: $body-color; 
    display: flex; 
    justify-content: center;        
}

.topbar {
    background-color: rgb(82, 73, 73);;
    grid-area: topbar; 
    position: sticky;
    top: 0;
    border-bottom: 1px solid $body-color;
    margin-left: 15px;
}

.content {
    background-color: $body-color;
    grid-area: content;
    color: $sidebar-color;
    border-top: 15px solid $body-color; 
    display: flex;
    flex-direction: column;
}