/*Sidebar*/

.left-nav {
    text-align: center;
    height: 59px;
    margin-top: 0;
    position: sticky;
    top: 0;  
}

.left-nav ol {
    list-style: none;
    padding: 5px;
}

.left-nav ol li {
    padding: 15px;
}

.left-nav ol li:hover {
    border-top: 1px solid $body-color;
    border-bottom:  1px solid $body-color;
}

.photo img {
    line-height: 20px;
    border-radius: 50%;
    border: 2px solid $body-color;
    height: 60px;
    width: 60px;
}

.photo {
    display: flex;
    justify-content: space-between;
}

.photo h5 {
    margin-left: 5px;
}

/*Topbar*/

.topbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-nav {    
    border-left: 1px solid $body-color;
    padding: 10px;
    height: 60px;     
    font-size: 25px;
    color: $body-color;        
}

.top-nav a {
    text-decoration: none;
    font-variant: small-caps;
    color: $sidebar-color;  
}

/*Content - General Statistic*/

.general {
    background: $sidebar-color;
    margin-left: 15px; 
}

.general img {
    max-width: 600px;
    margin-left: 400px;  
    align-items: center;
}

.line {
    border-top: 1px solid $body-color;
    margin: 30px 0;
}

.date {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 40px;
    border-top: 1px solid $body-color;
    border-bottom: 1px solid $body-color;
}

.btn {
    background: $btn-color;
    margin-left: 15px;
    color: $sidebar-color; 
}

.btn:hover {
    cursor: pointer;    
}

.img-cont {
   margin-bottom: 15px;
   position: inherit;
}

.img-cont img {
    display: block;
    margin: 0px auto;
    border: 2px solid $body-color;    
}

.row-container {
    
    display: flex;
    justify-content: center;
}

.row div{
    position: inherit;
}

.row-container p {
    border-bottom: 1px solid $body-color;
}

.row-container span {
    display: inline-block;    
    float: right;
}

.general h4 {
   margin-left: 15px;
}

/* LINKS */

.links {
    background: $sidebar-color;
    margin: 15px 0px 0px 15px;
}

h3 {
    margin-left: 15px;  
}

.table-row {
    display: flex;
    flex-direction: column;
    margin: 0px auto; 
    max-width: 600px;
}

table th, table td {
    border-top: 1px solid $body-color;
    border-top: 1px solid $body-color;
    padding: 15px;
  }

tr:hover {
    background-color: rgb(82, 73, 73);  
}

.table-row  button {
    flex-basis: 10px;
    width: 100px;
    margin: 15px auto;    
}

table a {
    text-decoration: none;
}

table td:last-child {
   color: $sidebar-color;
   float: right;   
}




