/* Colors */
$body-color: #aaa69d;
$sidebar-color: #1e272e;
$container-color: #ffffff;
$font-color: #747d8c;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;